.boton {
    width: 10rem;
    border: 2px solid;
    padding: 2rem;
    border-radius: 4rem;
}

.boton:hover {
    color: chocolate
}

div.boton::first-letter {
    font-size: 3rem;
}

section.parte1 p::first-letter {
    font-size: 3rem
}
section.parte1 p::first-line {
    color: blueviolet;
}


section.parte1 blockquote::before {
    content: url(../img/Gatito.ico) open-quote;
    /* content: open-quote */;
}

section.parte1 blockquote::after {
    content: close-quote;
}

section.parte2 p:nth-child(3) {
    color: coral
}

section.parte2 p:nth-of-type(4) {
    color: darkmagenta
}